<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283930974576-sc1d8kigu9auas5ppmmbhqdunaek2tl5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283930974576-sc1d8kigu9auas5ppmmbhqdunaek2tl5</string>
	<key>API_KEY</key>
	<string>AIzaSyCPguad8zj3T4jf9SUjIJb8_PE5ElCatgU</string>
	<key>GCM_SENDER_ID</key>
	<string>283930974576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miguelplanckensteiner.Firebase-ToDo</string>
	<key>PROJECT_ID</key>
	<string>fir-todo-13ffe</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-todo-13ffe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283930974576:ios:ba5ecaab3310ccf39057b5</string>
	<key>DATABASE_URL</key>
	<string>https://fir-todo-13ffe.firebaseio.com</string>
</dict>
</plist>